<h1>Users List </h1>
<h2>Hello, <%= current_user.name %></h1>
<%= link_to "Home" , posts_path %>
<%= link_to "Sign out" , destroy_user_session_path, method: :delete  %>

<% @users.each do |user| %>
    <% if user.id == current_user.id %>
        <% next %>
    <% end %>
    <p>
        <%= user.name %>
        
        <% if not current_user.self_confirmings.where("friend_id = ?", user.id).empty? %>
            <%= "Friends" %>
            <% friend = user.they_confirmings.find_by("user_id = ?" , current_user.id) %>
            <%= link_to "Unfriend" , [user , friend], method: :delete , data: { confirm: "Unfriend ?" } %>
            
        <% elsif not current_user.they_confirmings.where("user_id = ? ", user.id).empty? %>
            <%= "Friends" %>
            <% friend = user.self_confirmings.find_by("friend_id = ? " , current_user.id) %>
            <%= link_to "Unfriend" , [user, friend] , method: :delete , data: { confirm: "Unfriend?" } %>
            
        <% elsif not current_user.ic_requests.where("user_id = ?" , user.id).empty? %>
            <%= form_with model: [user, user.self_confirmings.build] , local: true do |form| %>
                <%= form.submit "Confirm request" %>
            <% end %>
            <% request = user.og_requests.find_by("to_user_id = ? " , current_user.id) %>
            <%= link_to "Delete this request" , [user, request] , method: :delete , data: { confirm: "Delete request? " } %> 
            
        <% elsif not current_user.og_requests.where("to_user_id = ?" , user.id).empty? %>
            <%= "Requested" %>
            <% request = user.ic_requests.find_by("user_id = ?" , current_user.id) %>
            <%= link_to "Undo Request" , [user, request] , method: :delete , data: { confirm: "Delete request? " } %>
            
        <% else %>
            <%= form_with model: [user , user.ic_requests.build] , local: true do |form| %>
                <%= form.submit "Add Friend" %>
            <% end %>
        <% end %>
        
    </p>
    
<% end %>
